.clients {
  @extend %section;
}

.clients__container {
  @extend %container;
}

.clients__title {
  @extend %section-title;
}

.clients__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 92px;
  border: 1px solid getColor('primary-icon');
  border-radius: 4px;

  fill: getColor('primary-icon');
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: getColor('accent');
    border-color: getColor('accent');
  }
}
